.reviews{
	width: 100%;
}

.review__form--tittle{
	font-size: 40px;
	margin: 25px 0 25px 0;
}

.review__form{
	width: 700px;
	height: 400px;
	overflow-y: hidden;
	margin: 0 auto;
	margin-bottom: 50px;
}

.review__results{
	width: 950px;
	height: 800px;
	margin: 0 auto;	
}